@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900;1000&family=Staatliches&display=swap');

:root {
  --primary: #0f0d15;
  --background: #0a0a0a;
  --secondary: rgb(11, 99, 150);
  --borderColor: rgb(0, 0, 0);
  --input: #1e1e1ec1;
  --monestral: #09080c;

  --primary-500: #1eadff;
  --primary-600: #068fff;
  --primary-700: #007bff;

  --success-500: #138e76;
  --success-600: #157866;
  --success-700: #155a4f;

  --warning-600: #cab902;
  --warning-700: #a38805;
  --warning-800: #866a0d;

  --danger-600: #bc4246;
  --danger-700: #9d3339;
  --danger-800: #842d35;

  --black: #111111;
  --white: #ffffff;
  --gray: #dddddd;

  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(0, 0, 0);
  --bg-menu-secondary: #1f1f1f;
  --bg-menu-primary: #141414;

  --ff-francois: 'Francois One', sans-serif;
  --ff-roboto: 'Roboto Condensed', sans-serif;
  --ff-sofia: 'Sofia Sans', sans-serif;
  --ff-poiret: 'Poiret One', cursive;
  --ff-staatliches: 'Staatliches', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
